<header>
    <nav>
        <ul>
            <li>
                <div>
                    <span class="material-symbols-outlined" id="icon">dashboard</span>
                    <span>Dashboard Web Sesiones</span>
                </div>
            </li>
            <li>
                <div>
                    <a href="">
                        <span class="material-symbols-outlined">exit_to_app</span>
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</header>